{% extends 'estoque/base.html' %}

{% block content %}

<h1>DASHBOARD</h1>

<div class="cards">
    <a href="{% url 'produtos' %}" class="card azul">
        <h3>Total de Itens</h3>
        <p>{{ total_itens }}</p>
    </a>

    <a href="{% url 'estoque_baixo' %}" class="card amarelo">
        <h3>Estoque Baixo</h3>
        <p>{{ itens_baixos }}</p>
    </a>

    <a href="{% url 'produtos' %}?status=CRITICO" class="card vermelho">
        <h3>Estoque Crítico</h3>
        <p>{{ itens_criticos }}</p>
    </a>
</div>

<h2>Últimas Movimentações</h2>

<table>
    <tr>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Quantidade</th>
        <th>Responsável</th>
    </tr>

    {% for mov in movimentacoes %}
    <tr>
        <td>{{ mov.produto }}</td>
        <td>{{ mov.tipo }}</td>
        <td>{{ mov.quantidade }}</td>
        <td>{{ mov.responsavel }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
